<!DOCTYPE html>
<html>
<head>
  <title>California Auto Center | Millbrae Auto Service Center | Millbrae Auto Repair | Auto Mechanic Millbrae | Millbrae Tire Center</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
<style>
.grid-container {
  display: grid;
  grid: 310px / auto auto auto;
  grid-gap: 10px;
  background-color: #f2f2f2;
  padding: 20px 20px;
}
.grid-item1, .grid-item2, .grid-item3 {
  background-color: #e9f6fa;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 18px;
  text-align: right;
}

.grid-item1, .grid-item2, .grid-item3 {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

</style>
</head>
<div class="booyah-box col-10 offset-1">
  <div class="row text-center">
    <div class="col-12 col-sm"
      <h3>FIND OUR LOCATION:<br>316 El Camino Real,<br>Millbrae, CA 94030<br>(650)692-5222</h3>
    </div>
    <div class="col-12 col-sm"
      <h3>CHECK OUT OUR COUPONS SPECIAL:<br>We have variaties of <br>SPECIAL DEALS.<br>Check us out weekly.</h3>
    </div>
    <div class="col-12 col-sm"
      <h3>ASK US AN QUESTION:<br>Send us an email to <br>ask us an question <br>or schedule an appointment.</h3>
    </div>
  </div>
<br />
  <div class="text-center">
    <h2>California Auto Center Complete Auto Repair & Tire Service (650)692-5222</h2>
  </div>
<br />
  <div id="content">
    <%= image_tag("cac316.jpg", :width=>"1150", :height=>"550", :alt=> "California Auto Center Storefront View") %>
  </div>
</div>

<br />

  <div class="grid-container">
  
  <div class="grid-item1"><%= image_tag("cac316.jpg", :width=>"400", :height=>"270", :alt=> "California Auto Center Storefront View") %></div>
  <div class="grid-item2"><b><h3>California Auto Center</h3>
<p>316 El Camino Real,<br />Millbrae, CA 94030<br />Call Us at 1-650-692-5222</p><br /><h3>Hours of Operation</h3><p><b>Monday-Friday: 7:30AM-6:30PM<br />Saturday: 8:30AM-5:30PM<br />Sunday: Closed</b></p></div>
<div class="grid-item3"><b><h3>Conveniently Location</h3></b><br />
<b><p>California Auto Center is conveniently located just off the freeway 101 and 280, less than 7 miles from downtown San Mateo and less than 15 miles from downtown San Francisco. We are 3 blocks from the Millbrae BART and CALTRAIN station. For the convenience of our service customers, we offer extended service hours from Monday - Friday at 7:30AM - 6:30PM, Saturday at 8:30AM - 5:30PM.</b></p><br /><br /><br /><br /></div></div>
  <div class="booyah-box col-10 offset-1">
    <h1 align="center">Are you looking for tires?</h1><br />
    <h2 align="center">California Auto Center and TireBuyer.com had team up to offer you online tires deal.  Click on link below.</h2><br />
    <a href="http://www.tirebuyer.com/?account=376572">
    <img src="https://installers.tirebuyer.com/tirebuyerstorefront/_ui/responsive/installerportal/images/728x156-50BelowAffiliates-NewDesign2.jpg" width="1150" height="250" alt="TireBuyer Logo", class="center" />
    </a>
  </div>
</div>
<hr />
</html>