<div class="booyah-box col-10 offset-1">
    <div class="row text-center">
    <div class="col-12 col-sm"
      <h3>FIND OUR LOCATION:<br>316 El Camino Real,<br>Millbrae, CA 94030<br>(650)692-5222</h3>
    </div>
    <div class="col-12 col-sm"
      <h3>CHECK OUT OUR COUPONS SPECIAL:<br>We have variaties of <br>SPECIAL DEALS.<br>Check us out weekly.</h3>
    </div>

    <div class="col-12 col-sm"
      <h3>ASK US AN QUESTION:<br>Send us an email to <br>ask us an question <br>or schedule an appointment.</h3>
    </div>
  </div>

    <br />
    <div class="text-center">
    <h2>California Auto Center Complete Auto Repair & Tire Service (650)692-5222</h2>  
    </div>
    <br />
    <div id="content">
    <%= image_tag("cac316.jpg", :width=>"1150", :height=>"550", :alt=> "California Auto Center Storefront View") %>
    <p> 316 El Camino Real, Millbrae, CA 94030 </p>
    </div>
  </div>

<br />

  <div class="booyah-box col-10 offset-1">
    <h1 align="center">Are you looking for tires?</h1><br />
    <h2 align="center">California Auto Center and TireBuyer.com had team up to offer you online tires deal.  Click on link below.</h2><br />
    <a href="http://www.tirebuyer.com/?account=376572">
    <img src="https://installers.tirebuyer.com/tirebuyerstorefront/_ui/responsive/installerportal/images/728x156-50BelowAffiliates-NewDesign2.jpg" width="1150" height="250" alt="TireBuyer Logo", class="center" />
    </a>
  </div>
</div>
<hr />
