<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
    img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    }
    
    error-page {
    text-align: center;
    font-family: arial, sans-serif;
    margin: 0;
    }

    dialog {
    text-align: center;
    font-family: arial, sans-serif;
    margin: 0;
    }

  </style>
</head>
<body class="error-page"> 
    <div class="booyah-box col-10 offset-1">
      <div class="row text-center">
        <div class="col-12 col-sm"
          <h3>FIND OUR LOCATION:<br>316 El Camino Real,<br>Millbrae, CA 94030<br>(650)692-5222</h3>
        </div>
        <div class="col-12 col-sm"
          <h3>CHECK OUT OUR COUPONS SPECIAL:<br>We have variaties of <br>SPECIAL DEALS.<br>Check us out weekly.</h3>
        </div>

        <div class="col-12 col-sm"
          <h3>ASK US AN QUESTION:<br>Send us an email to <br>ask us an question <br>or schedule an appointment.</h3>
        </div>
      </div>

        <br />
        <div class="text-center">
          <div class="dialog">
            <div>
              <h1>The page you were looking for doesn't exist.</h1>
              <p>You may have mistyped the address or the page may have moved.</p>
              <p>Click <button><%= link_to 'here', root_path %></button> and I will get you back to our home page.</p>
            </div>
          </div>  
        </div>
        <br />
        <div id="content">
        <%= image_tag("cac316.jpg", :width=>"1150", :height=>"550", :alt=> "California Auto Center Storefront View") %>
        </div>
      </div>
    </div>  
</body>
</html>