// Place all the styles related to the errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
  rgba(254,254,254,.5), 
  rgba(254,254,254,.5)), image-url('SFB1.jpg'); 
  background-size: 1440px 850px;
}

img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}