@import "bootstrap";

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.not_found_background_image {
    background: image-url('SFG1.jpg');
    background-size: 1440px 850px;
}
