@import "bootstrap";

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

#BG{
  position:fixed;
   left:0;
   right:0;
   top:0;
   bottom:0;
  background-image: image-url('SFB1.jpg');
  background-size: 1440px 1050px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  z-index:-500;
