@import "bootstrap";

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.error-page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
  rgba(254,254,254,.5), 
  rgba(254,254,254,.5)), image-url('SFB1.jpg'); 
  background-size: 1440px 1050px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
